<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/characterMovement.js"></script>
    <link rel="stylesheet" href="static/game.css">
    <title>Document</title>
</head>
<body>

    <div id="game-container">
        <img id="map-image" src="{{ url_for('static', filename='maps/' + map_filename) }}" alt="Game Map">
        <img id="character-image" src="{{ url_for('static', filename='character/character.png') }}" alt="Game Character">
    </div>
</body>
</html>